exportPattern("^[[:alpha:]]+")
import("recluster", "sf", "deldir", "phylin", "ClustGeo", "fossil", "gdistance")

#importFrom("phylin", idw)
#importFrom("ClustGeo", wardinit)
#importFrom("fossil", earth.dist)
#importFrom("gdistance", shortestPath)
