exportPattern("^[[:alpha:]]+")
imports("recluster", "sf", "deldir", "phylin", "ClustGeo", "fossil", "gdistance", "sp")

#importFrom("phylin", idw)
#importFrom("ClustGeo", wardinit)
#importFrom("fossil", earth.dist)
#importFrom("gdistance", shortestPath)
