exportPattern("^[[:alpha:]]+")
import(recluster, sf)
importFrom("phylin", idw, deldir)
importFrom("ClustGeo", wardinit)
importFrom("fossil", earth.dist)
importFrom("gdistance", shortestPath)
importFrom("raster", extract)
